@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --colorPrimary: #092f27;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.big-container{
  display: flex;
  width: 700px;
  height: 400px;
  background: white;
  border-radius: 30px;
  padding: 20px;
}

.input{
  background-color: #b6cbdd;
  border-radius: 20px;

}

.input-side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.output{
  background-color: #07381b;
  border-radius: 20px;
}

button{
  max-height: 50px;
}

button:hover {
  border-color: #646cff;
}

input{
  background-color: aliceblue;
}

h2{
  color: black;
}